{% load static %}

      <nav class="navbar navbar-expand-lg">
        <div class="container">
          {% comment %} <a class="font navbar-brand" href="index.html"><h2>وبلاگ شخصی  <em>.</em></h2></a> {% endcomment %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item  {% if request.resolver_match.url_name == 'home' %}active{% endif %} ">
                <a class="nav-link" href="{% url "home:home" %}">صفحه اصلی
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="about.html">درباره ما</a>
              </li>
              <li class="nav-item  {% if request.resolver_match.url_name == 'article_list' %}active{% endif %} ">
                <a class="nav-link " href="{% url "blog:article_list" %} ">تمامی پست ها</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="post-details.html">جزئیات پست ها</a>
              </li>
              <li class="nav-item">
                <a class="font !important nav-link" href="contact.html">تماس با ما</a>
              </li>
              <li class="nav-item">
                {% if request.user.is_authenticated %}
                <a class="" href=" {% url "account:profile" %}"> ورود به پروفایل</a>
                {% if request.user.first_name %}
                <div class="d-flex">
                  {% if user.profile.image %}
                  <span><img src="{{user.profile.image.url}}" width="30px" height="30px" style="border-radius: 100%;" alt=""></span>
                  {% else %}
                  <span><img src="{% static 'images/blog-thumb-05.jpg' %}" width="30px" height="30px" style="border-radius: 100%;" alt=""></span>
                  {% endif %}
                <a class="nav-link" href="">{{request.user.first_name}}</a>
                

                {% else %}
                <a class="nav-link" href="">{{request.user.username}}</a>
                {% endif %}
                 
                 <a class="nav-link bg bg-warning" href="{% url "account:logout" %} ">خروج از حساب کاربری</a>
                 {% else %}
             <li class="nav-item">
              <a class="nav-link" href=" {% url "account:login" %}">ورود به حساب کاربری</a>  
              </li>

                
                <li>  <a class="nav-link" href="{% url "account:register" %}">ثبت نام</a></li>
                {% endif %}
               </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>