{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>register Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% comment %} <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"> {% endcomment %}
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'images/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'images/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="" method="post">
				{% csrf_token %}
				<img src="{% static 'images/avatar.svg' %}">
				<h2 class="title">Welcome</h2>
				<p>{{form.errors}}</p>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
				     	{{form.username.label}}
           		   		{{form.username}}
           		   		
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
					{{form.password.label}}
           		    	{{form.password}}
           		    	
            	   </div>
            	</div>
  
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>