{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>register Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% comment %} <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"> {% endcomment %}
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'images/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'images/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="" method="post">
				{% csrf_token %}
				<img src="{% static 'images/avatar.svg' %}">
				<h3 class="title">به صفحه ثبت نام خوش آمدید</h3>
				{% if errors %}
				{% for item in errors %}
				<p class="text text-danger" style="color: brown;" >{{item}}</p>
				{% endfor %}
				{% endif %}

           		<div class="input-div one">

					
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
                          

           		   <div class="div">
           		   		<h5>نام کاربری</h5>
           		   		<input type="text" name="username" class="input">
           		   </div>
           		</div>
				
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>پسورد</h5>
           		    	<input type="password" name="password1" class="input">
            	   </div>
            	</div>


                <div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>تایید پسورد</h5>
           		    	<input type="password" name="password2" class="input">
            	   </div>
            	</div>

                <div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>ایمیل</h5>
           		    	<input type="email" name="email" class="input">
            	   </div>
            	</div>






            	{% comment %} <a href="#">Forgot Password?</a> {% endcomment %}
            	<input type="submit" class="btn" value="register">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
